frontend/
.env

minecraft/**

!minecraft/

!minecraft/bluemap/
!minecraft/bluemap/bluemap-config/
!minecraft/bluemap/bluemap-config/maps/
!minecraft/bluemap/bluemap-config/storages/

!minecraft/config/

!minecraft/plugins/
!minecraft/plugins/FastAsyncWorldEdit/
!minecraft/plugins/Plan/
!minecraft/plugins/MoAfks/
!minecraft/plugins/MoBosses/
!minecraft/plugins/MoJoins/
!minecraft/plugins/mcbuddy-spigot/

!minecraft/spigot.yml
!minecraft/server.properties
!minecraft/bukkit.yml
!minecraft/server-icon.png

!minecraft/plugins/MoAfks/**
!minecraft/plugins/MoBosses/**
!minecraft/plugins/MoJoins/**

!minecraft/plugins/mcbuddy-spigot/config.yml
!minecraft/plugins/Plan/config.yml
!minecraft/plugins/FastAsyncWorldEdit/config.yml
!minecraft/plugins/FastAsyncWorldEdit/worldedit-config.yml

!minecraft/config/paper-global.yml
!minecraft/config/paper-world-defaults.yml

!minecraft/bluemap/bluemap-config/maps/overworld.conf
!minecraft/bluemap/bluemap-config/maps/end.conf
!minecraft/bluemap/bluemap-config/maps/nether.conf

!minecraft/bluemap/bluemap-config/storages/file.conf

!minecraft/bluemap/bluemap-config/core.conf
!minecraft/bluemap/bluemap-config/webapp.conf
!minecraft/bluemap/bluemap-config/webserver.conf

minecraft/plugins/MoBosses/bosses.db